<ng-container *ngIf="eventKey$ | async as eventKey">
  <h2>{{ eventKey.event }}, Day {{ eventKey.day }}</h2>

  <dl>
    <dt>AoC link:</dt>
    <dd>
      <a [href]="eventKey | aocLink" target="blank" rel="norefferer noopener">
        {{ eventKey | aocLink }}
      </a>
    </dd>
    <dt>Languages:</dt>
    <dd *ngFor="let language of eventKey | solutionLanguages">
      <a [routerLink]="language">
        {{ language }}
      </a>
    </dd>
  </dl>
  <router-outlet></router-outlet>
</ng-container>
